<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Book List</h1>
        <p><a href="/">Home</a></p>
        <ul>
            <% bookArray.forEach(book => { %>
                <li><image src=<%= book.image %></li>
                <li><%= book.title %></li>
                <li><%= book.authors %></li>
                <li><%= book.description %></li>
                <a href="/add/<%= book.isbn %>">Details</a>
                <a href="/save/<%=book.isbn%>">Save</a>
            <% }) %>
        </ul>
    </body>
</html>
